@model IEnumerable<TripApplication.Models.PlaceDto>

@{
    ViewData["Title"] = "Places";
}

<h1>Places</h1>

<p>
    <a href="/Place/New" class="btn btn-primary">Create New Place</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Place Name</th>
            <th>Description</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PlaceName</td>
                <td>@item.PlaceDescription</td>
                <td>@item.PlaceCity</td>
                <td>
                    <a href="/Place/Edit/@item.PlaceId" class="btn btn-sm btn-secondary">Edit</a> |
                    <a href="/Place/Show/@item.PlaceId" class="btn btn-sm btn-info">Details</a> |
                    <a href="/Place/DeleteConfirm/@item.PlaceId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>