@model TripApplication.Models.PlaceDto
@{
    ViewBag.Title = "Show";
}
<a href="/Place/List">Go Back to List</a>
<h2>Details of @Model.PlaceName</h2>
<div>
    <p>@Model.PlaceDescription</p>
    <p>@Model.PlaceCity</p>
</div>

