################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HTTP5226-PassionProject/FileContentIndex/03359511-bdf6-4930-afa0-6fcd56497cc1.vsidx
