@model IEnumerable<TripApplication.Models.Customer>

@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>

<p>
    <a href="/Customer/New" class="btn btn-primary">Create New Customer</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CustomerName</td>
                <td>@item.EmailId</td>
                <td>
                    <a href="/Customer/Edit/@item.CustomerId" class="btn btn-sm btn-secondary">Edit</a> |
                    <a href="/Customer/Show/@item.CustomerId" class="btn btn-sm btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>